<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba de Completar Frases</title>
  <!-- Enlaces a Bootstrap y a tu archivo de estilos -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/completar_frase.css">
</head>

<body>
  <div class="titulo">
    <h1>Prueba de Completar Frases</h1>
  </div>

  <div class="boton">
    <button id="createFilesButton" class="btn btn-primary">Añadir al Paquete_SCORM</button>
    <button id="zip-button" class="btn btn-primary">Descargar Paquete_SCORM</button>
  </div>

  <script>
    document.getElementById('zip-button').addEventListener('click', function () {
      window.location.href = '/download-zip';
    });
  </script>

  <div class="frase-cf">
    <p>Completa cada frase arrastrando la palabra:</p>
    <div class="container">
      <p id="sentence1" ondrop="drop(event)" ondragover="allowDrop(event)">La <span class="placeholder"
          ondrop="drop(event)" ondragover="allowDrop(event)">______________</span> es una fruta muy dulce y con muchas
        pepas.</p>
      <div class="options" id="options1">
        <span class="option" draggable="true" ondragstart="drag(event)" id="Manzana">Manzana</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Plátano">Plátano</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Sandía">Sandía</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Naranja">Naranja</span>
      </div>
      <div class="boton2">
        <button onclick="addPlaceholder('sentence1')" id="addBtn1" style="display: none;" class="btn btn-primary">Añadir
          espacio</button>
        <button id="GenOpciones" onclick="generateOptions()" style="display: none;" class="btn btn-primary">Añadir
          opción</button>
      </div>
    </div>

    <div class="container">
      <p id="sentence2" ondrop="drop(event)" ondragover="allowDrop(event)">La capital de Francia es <span
          class="placeholder" ondrop="drop(event)" ondragover="allowDrop(event)">______________</span></p>
      <div class="options" id="options2">
        <span class="option" draggable="true" ondragstart="drag(event)" id="Paris">Paris</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Bogotá">Bogotá</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Eifel">Eifel</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Barcelona">Barcelona</span>
      </div>
      <div class="boton2">
        <button onclick="addPlaceholder('sentence2')" id="addBtn2" style="display: none;" class="btn btn-primary">Añadir
          espacio</button>
        <button id="GenOpciones" onclick="generateOptions()" style="display: none;" class="btn btn-primary">Añadir
          opción</button>
      </div>

    </div>

    <div class="container">
      <p id="sentence3" ondrop="drop(event)" ondragover="allowDrop(event)">El <span class="placeholder"
          ondrop="drop(event)" ondragover="allowDrop(event)">______________</span> que se juega con balón es el <span
          class="placeholder" ondrop="drop(event)" ondragover="allowDrop(event)">______________</span></p>
      <div class="options" id="options3">
        <span class="option" draggable="true" ondragstart="drag(event)" id="Juego">Juego</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Ajedrez">Ajedrez</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Mundo">Mundo</span>
        <span class="option" draggable="true" ondragstart="drag(event)" id="Fútbol">Fútbol</span>
      </div>
      <div class="boton2">
        <button onclick="addPlaceholder('sentence3')" id="addBtn3" style="display: none;" class="btn btn-primary">Añadir
          espacio</button>
        <button id="GenOpciones" onclick="generateOptions()" style="display: none;" class="btn btn-primary">Añadir
          opción</button>
      </div>

    </div>
    <div id="resultado" class="espacio"></div>
    <div class="boton">
      <button id="editButton" onclick="toggleEditMode()" class="btn btn-primary">Editar</button>
      <button id="saveButton" onclick="saveChanges()" style="display: none;" class="btn btn-primary">Guardar</button>
      <button id="verifyButton" onclick="verifySentences()" style="display: block;"
        class="btn btn-primary">Verificar</button>
      <button id="scoreButton" onclick="calculateScore()" class="btn btn-primary">Calificar</button>
    </div>
    <div id="calificacion" class="mt-3"></div>
  </div>
  <br>
  <div class="boton2">
    <button class="btn btn-outline-info" onclick="redireccionar3()">Atras</button>
  </div>
  </script>
  <script src="scripts/SCORM_API_wrapper.js"></script>
  <script src="scripts/completar_frase.js"></script>

</body>

<script>
  function redireccionar3() {
    window.location.href = "seleccion_multiple.html";
  }
</script>

</html>