<!DOCTYPE html>
<html lang="es">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/estilos.css">
    <head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div ></div>
        <title >Cuestionario de Vocabulario</title>
    </div>
</head>
<body>
    <div class ="titulo">
        <h1>Cuestionario de Vocabulario</h1>
    </div>
    <div class="entrada">
        <p>¡Completa la oración en el orden correcto!</p>
        <p>Introduce la oración:</p>
        <input type="text" id="inputTexto">
        <br>
        <button onclick="convertirTexto()">Añadir</button>
    </div>

    <div>
        <p id="mensaje">Arrastra dentro del recuadro las palabras para completar la oración:</p>
    </div>

    <div id="contenedor-palabras"></div>

    <div id="contenedor-oracion" ondrop="drop(event); verificarOracion();" ondragover="allowDrop(event)">
    </div>
    
    <div class= "espacio">
        <p id="resultado"  role="alert"></p>
        <button onclick="reset()"class="btn btn-primary">Limpiar</button>
    </div>

    <script src="scripts/javascript.js"></script>
</body>
</html>
