<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de Identificación de Imágenes</title>
    <!-- Enlaces a Bootstrap y a tu archivo de estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/estilos.css">
</head>
<script>
    function redireccionar() {
            window.location.href = "completar_frase.html";
        }
</script>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Identifique las Imágenes</h1>
        </div>
        <br>
        <div class=""></div>
        <div class="instrucciones" id="instrucciones" style="display: none;">
            <p>Seleccione una opción de acuerdo a la imagen que tenga un parecido con las respuestas, por ejemplo, si la imagen parece un animal, una de las respuestas podría ser algún pariente o características del individuo.</p>
        </div>
        <div id="alert-container"></div>
        <div class="d-flex justify-content-end">
            <button id="boton" class="btn btn-primary" onclick="redireccionar2()">Subir Imagen</button>
        </div>
        

        <div class="imagen-contenedor">
            <img src="Images/gato_01.jpeg" alt="Imagen de un gato" class="imagen" id="imagen">
        </div>

        <br>
        <p id="pregunta">¿Qué animal es el que se muestra en la imagen?</p>

        <!-- Contenedor de opciones de respuesta justo debajo de las instrucciones -->
        <div id="opciones-container" class="opciones">
        </div>
        <br>

        <div class="boton">
            <button onclick="verificarRespuesta()" class="btn btn-primary">Verificar</button>
            <button id="boton-ayuda" onclick="mostrar()" class="btn btn-primary">Ayuda</button>        
            <button onclick="redireccionar()" class="btn btn-primary btn-siguiente">Siguiente prueba</button>
        </div>
        <br>
        <div class="boton2">
            <button href="" class="btn btn-outline-info">Salir</button>
        </div>
        <br>
    </div>

    <!-- Modal de Ayuda -->
   
    <!-- Script JavaScript -->
    <script src="scripts/javascript.js"></script>
    <script>
        function mostrar() {
            var instrucciones = document.getElementById('instrucciones');
            if (instrucciones.style.display === 'none' || instrucciones.style.display === '') {
                instrucciones.style.display = 'block';
            } else {
                instrucciones.style.display = 'none';
            }
        }

        function redireccionar2() {
            window.location.href = "SubirImagen.html";
        }
    </script>
</body>
</html>